<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
    <script src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper container">
          <a href="#" class="brand-logo center">Profile</a>
          <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav">
      <li>
        
        <div class="user-view">
        

      
        </div>

      </li>
    </li>
      <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
      <li><a href="#!">Second Link</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
      <div class="background">
        <img src="images/office.jpg">
      </div>
    
      <p ><img class="circle" src=" {{info[6]}} "></a>
      <p ><span class="black-text name"> {{info[1]}} </span></p>
      <p ><span class="black-text email"> {{info[2]}} </span></p>
    </ul>
    
    <div class="row">
      <img src="{{info[6]}}" class="circle" alt="">
      <div class="col s6 offset-s3 white z-depth-2 cardThingy"><span class="flow-text">Bienvenido, {{info}}</span></div>
    </div>
    

      <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var options;
            var instances = M.Sidenav.init(elems, options);
        });       
    </script>
</body>


</html>